@model ProjetoLoja.Models.Jogo
@{
    ViewBag.Title = "JogoCadastrado";
}

<h2>O jogo foi cadastrado com sucesso</h2>
<br />
<p>@Html.ActionLink("Voltar", "Jogo")</p>
<p>@Html.ActionLink("Visualizar Jogo", "ListaJogo")</p>

